@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.gap-10 {
    gap: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.log-outbtn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    background-color: #2C49FE;
    color: white;
    cursor: pointer;
    border-radius: 23px;
    width: 118px;
    height: 46px;
    border: none;
}

.home {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.events-2 {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: white;

}

.mt-143 {
    margin-top: 143px;
}

.cursor-pointer {
    cursor: pointer;
}

.line-1 {
    width: 166px;
    height: 8px;
    background-color: #2C49FE;
}

.line-2 {
    width: 24px;
    height: 8px;
    background-color: #01C8FF;
}

.choose-text {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: #000000;
}

.time {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}

.gap-8 {
    gap: 8px;
}

.pt-12 {
    padding-top: 12px;
}

.f-direction-c {
    flex-direction: column;
}

.card-img {
    border-radius: 20px;
}

.card {
    border-radius: 30px;
    padding: 30px;
    border: 1px solid #CCCCCC;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 8px 35px 0px #0000001A;

    .card-img {
        border-radius: 0%;
    }

}

.Lorem {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: black;
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.justify-content {
    justify-content: center;
}

.pt60 {
    padding-top: 68px;
}

.align-item {
    align-items: center;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.log-outbtn:hover {
    background-color: white;
    color: #2C49FE;
    border: 1px solid blue;
}

.nav-links {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.bg-img {
    background-image: url(../image/nav-img.png);
    width: 100%;
    height: 372px;
    position: relative;
    z-index: 5;
}

.Events {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    color: #2C49FE;

}

.Free {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    color: #01C8FF;

}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}


.p-relative {
    position: relative;
}

.z-index-5 {
    z-index: 5;
}

.bg-img::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}